.colorSelectBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;

  .colorButton {
    margin: 1px;
    border: 2px solid var(--mantine-color-body);

    &.active {
      outline: 2px solid var(--mantine-primary-color-filled);
    }
  }
}